* {
    padding: 0;
    margin: 0;
}

body {
margin: 10px 20px;
}

.content {
    padding: 10px 10px;
}

.actions {
    padding: 10px;
}

.actions-item {
    margin: 0 5px;
}

.actions-item:link {
    color: #0026ff;
}

.actions-item:visited {
    color: #0026ff;
}

.actions-item:hover {
    color: #0094ff;
}

.actions-item:focus {
    color: #0026ff;
}

.actions-item:active {
    color: #0026ff;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table th, .table td {
    border: 1px solid #808080;
    padding: 5px;
}

.table th.actions, .table td.actions {
    width: 10%;
    text-align: center;
}

.form fieldset {
    padding: 10px;
}

.data-row {
    margin-bottom: 5px;
}

.label {
    display: inline-block;
    width: 80px;
    height: 30px
}

.input {
    display: inline-block;
    width: 280px;
    height: 30px;
    padding: 0 5px;
}

.btns {
    text-align: center;
}

.btn {
    padding: 0 5px;
    min-width: 80px;
    min-height: 30px;
}
